html {
  font-family: Sarabun, sans-serif;
  color: #111;
}

body {
  margin: 0;
  background: #eee;
}

#nav-bar {
  background-image: linear-gradient(#410808,#820f0f);
}
  #nav-bar a {
    color: #eee;
    text-decoration: none;
  }
  #nav-bar h1 {
    margin: 0;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 60px;
  }
  #nav {
    float: left;
    display: inline-block;
    padding: 0 15px;
    line-height: 60px;
  }
    #nav:hover {
      background: rgba(255, 255, 255, .1);
    }
    #nav::after {
      content: 'menu';
    }
    #nav.show::after {
      content: 'close';
    }
  #login {
    float: right;
    border: 1px solid #eee;
    margin: 16px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 28px;
  }
    #login:hover {
      background: rgba(255, 255, 255, .1);
    }

#menu {
  visibility: hidden;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: #222;
}
  #menu.show {
    visibility: visible;
  }
  #menu-wrapper {
    padding: 1px 5px 5px 5px;
  }
  #menu a {
    display: block;
    margin-top: 4px;
    padding: 7px 12px;
    color: #eee;
    background: #333;
    text-decoration: none;
  }
  #menu a:hover {
    background: #444;
  }

#footer {
  margin: 25px 0;
  text-align: center;
}
  #footer a {
    margin-left: 10px;
    color: #17e;
    text-decoration: none;
  }
  #footer a:hover {
    text-decoration: underline;
  }
  