html {
  font-family: Sarabun, sans-serif;
  color: #111;
}

body {
  margin: 0;
  background: #eee;
}

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(#410808,#820f0f);
}
  #nav-bar a {
    color: #eee;
    text-decoration: none;
  }
  #nav-bar h1 {
    margin: 0;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 60px;
  }
  #nav {
    float: left;
    display: inline-block;
    padding: 0 15px;
    line-height: 60px;
  }
    #nav:hover {
      background: rgba(255, 255, 255, .1);
    }
    #nav::after {
      content: 'menu';
    }
    #nav.show::after {
      content: 'close';
    }
  #login-btn {
    float: right;
    border: 1px solid #eee;
    margin: 16px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 28px;
  }
    #login-btn:hover {
      background: rgba(255, 255, 255, .1);
    }

#menu {
  visibility: hidden;
  position: absolute;
  top: 61px;
  left: 0;
  width: 100%;
  background: #222;
}
  #menu.show {
    visibility: visible;
  }
  #menu-wrapper {
    padding: 1px 5px 5px 5px;
  }
  #menu a {
    display: block;
    margin-top: 4px;
    padding: 7px 12px;
    color: #eee;
    background: #333;
    text-decoration: none;
  }
  #menu a:hover {
    background: #444;
  }

.footer {
  margin: 25px 0;
  text-align: center;
}
  .footer a {
    margin-left: 10px;
    color: #17e;
    text-decoration: none;
  }
  .footer a:hover {
    text-decoration: underline;
  }
  
section {
  clear: both;
  margin-top: 61px;
  padding: 40px 0;
}


#home {
  background: #eee;
}
  #home h2 {
    text-align: center;
  }

  #order {
    display: flex;
    flex-wrap: wrap;
  }
    #order a {
      flex-grow: 3;
      color: #555;
      background: #eee;
      font-size: 18px;
      line-height: 48px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
    }
    #order a:hover {
      color: #333;
      background: #f4f4f4;
    }
    #order .active, #order .active:hover {
      color: #111;
      background: #f9f9f9;
    }
    
  #content {
    background: #f9f9f9;
  }

  .topic {
    padding: 20px;
  }
  .topic + .topic {
    border-top: 1px solid #ddd;
  }
  
  .topic-link {
    display: block;
    color: #111;
    text-decoration: none;
  }
  .topic-link:hover {
    color: #511;
    background: #eee;
  }

  .summary > span {
    display: inline-block;
    height: 30px;
    margin-right: 7px;
    padding: 2px 14px;
    border-radius: 16px;
    line-height: 28px;
    font-weight: bold;
  }
  .type {
    color: #eee;
    background-image: linear-gradient(#410808,#820f0f);
  }
  .score {
    color: #410808;
    border: 1px solid #820f0f;
  }
    .score .separator {
      display: inline-block;
      margin: 0 4px;
      color: #ddbfbf;
    }
  .summary > .view {
    margin-right: 0;
    padding: 2px 0;
    border-radius: 0px;
    color: #888;
  }
  
  .tags {
    font-size: 14px;
  }
    .tag {
      padding: 4px 6px;
      background: #ddd;
      border-radius: 4px;
      color: #222;
      text-decoration: none;
    }
    .tag + .tag {
      margin-left: 3px;
    }
    .tag:hover {
      color: #000;
      background: #e5e5e5;
    }

#login {
  background: #fff;
  text-align: center;
}
  #login h2 {
    margin: 0;
    line-height: 70px;
  }
  